extends layout

block content
  h1= title
  - let items = results
  p Below are some quarry search results:
  .container-fluid
    .row
      each quarry in items
        .col-sm-3.border.p-2
          h3 Name: #{quarry.quarries_type}
          p Depth: #{quarry.depth_meters} meters
          p Material: #{quarry.material}

  
  p
    a(href="/") Back to Home
