body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.quarriesAttr {
  background-color: #d1f7c4; /* light green */
  border-left: 5px solid #076edc;
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 12px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2a2a2a;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.quarriesAttr:hover {
  background-color: #b7e5a0; /* deeper green on hover */
  color: #044a1c; /* darker text on hover */
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}


  